.wrap{
    padding: var(--padding-form);
    width: 600px;
    min-height: 300px;
    display: flex;
    margin: 150px auto;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(194, 134, 134);
}

.left{
    font-size: 20px;
}
.right{
    font-size: 25px;
    max-width: 200px;
    height: 100%;
    background-color: rgb(121, 90, 90);
}