.input{
  width: 400px;
  height: 50px;
  background-color: var(--input-bg);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: var(--font-size);
  padding: 0 10px; 
}

.label{
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  margin-top: 15px;
  height: 88px;
}
